body {
    background-image: url('../assets/DALL·E 2023-12-10 18.11.47 - Background Image.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#controls, #weather {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"], button {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

input[type="text"] {
    border: 1px solid #ddd;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#controls {
    max-width: 451px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#weather {
    display: inline-block;
    border: 2px solid white;
}

#weather p {
    text-shadow: 0px 3px 4px #fff; /* White text shadow for better visibility */
}

@media only screen and (max-width: 600px) {
    body {
        background-size: auto 100%;
    }
    #controls, #weather {
        display: block;
        width: 100%;
    }
}
